.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/doc
pensieve.sublime-workspace
*.synctex.gz

vignettes/q-cat.html
vignettes/q-2d.html
vignettes/q-2d.pdf
vignettes/q-cat.pdf
vignettes/q-paran.pdf
vignettes/q-rot-custom.pdf
inst/templates/Output
2

inst/templates/hex-centered.pdf

inst/templates/Bildmarke_schwarz_02-eps-converted-to.pdf

inst/templates/Bildmarke_schwarz_02.eps

book/_book
