.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/doc

vignettes/q-cat.html
pensieve.sublime-workspace

vignettes/q-2d.html

vignettes/q-2d.pdf

vignettes/q-cat.pdf

vignettes/q-paran.pdf

vignettes/q-rot-custom.pdf
