.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
pensieve.sublime-workspace
_book
book/_bookdown_files

*.log

.httr-oauth

book/Pensieve.run.xml
inst/templates/cards/simple_rect.pdf
*.gz
inst/templates/cards/simple_rect.tex
