# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: r


# matrix ====

r:
  - oldrel
  - release
  - devel

os:
  - linux
  - osx

matrix:
  allow_failures:
    - os: osx
      r: devel


# general settings ====

warnings_are_errors: true

cache:
  packages: yes
  directories:
    - $HOME/bin
    - $TRAVIS_BUILD_DIR/docs/book/_bookdown_files


notifications:
  email: false
  slack: sozhoh:P4zamVjBWAc8J0DpwsOyCiqC


# linux stuff ====

dist: trusty

sudo: false

addons:
  apt:
    packages:
      - pdf2svg


# macOS stuff ====

disable_homebrew: false

brew_packages:
  - openssl
  - pandoc


# INSTALL ====
# part of R default


# SCRIPT ====
# part of r default


before_deploy:
  - Rscript -e 'covr::codecov()'
  - R CMD INSTALL .
  - Rscript -e 'blogdown::install_hugo()'
  - Rscript -e 'pensieve:::render_site2()'

deploy:
    provider: pages
    github_token: $GITHUB_PAT
    local_dir: _site/
    skip_cleanup: true
    on:
      branch: master
      os: linux
