# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: R
sudo: FALSE
cache:
  packages: yes
  directories:
    - $HOME/bin

warnings_are_errors: true

script:
  - ./travis-tool.sh run_tests

before_deploy:
  - R script -e 'setwd(dir = "book/")'
  - Rscript -e "bookdown::render_book('index.Rmd', 'bookdown::gitbook')"
  - Rscript -e "bookdown::render_book('index.Rmd', 'bookdown::pdf_book')"
  - Rscript -e "bookdown::render_book('index.Rmd', 'bookdown::epub_book')"

after_success:
  - Rscript -e 'covr::codecov()'

notifications:
  email: false
