.ps-grid {
  width: 100%;
  /* width is in percent parent; all below sizes are expressed relative to this */
  /* later js might overwrite this width, in case the whole thing gets too high for viewport */
  table-layout: fixed;
  /* this makes cells fixed width, not dependening on content */
  display: table;
  /* this overrides css from pkgdown*/
}
.ps-grid .cell {
  /* having no width or height specified, these columns default to equal width */
  position: relative;
  /* necessary for below content pos absolute */
  /* ATTENTION: style of cells is also set by R function, which pastes sth like below in here, with appropriate number of columns instead of 11 */
  /* padding-top: calc(100%/11); */
}
.ps-grid .allowed {
  border: 1px solid black;
  /* style for allowed cells */
}
.ps-grid .cell .content{
  /* this is the inner content of cells; necessary to avoid adding to above padding-top set for cells */
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* meaning: position these contents at top left corner of parent elements (cells), disregarding padding-top */
  overflow: hidden;
  white-space: nowrap;
  /* ignore all stuff outside fixed div dimensions */
}
